
.navbar-default .navbar-nav>li>a:link
{
color: blue;
}
.navbar-default .navbar-nav>li>a:hover
{
background-color: red;
color: yellow;
}
.navbar-default .navbar-nav>li>a:active
{
  color: yellow;
}

/*.navbar-default .navbar-nav>li:hover
{

color: yellow;

}*/
/*.navbar-brand{
color:white;

}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
*/
/* Red , Green , Orange ,Yellow ,Gray ,Blue */
