RewriteEngine On
RewriteBase /
RewriteRule ^CafeteriaApp.Frontend/css/(.*\.css) /combine.php?type=css&files=$1
RewriteRule ^CafeteriaApp.Frontend/javascript/(.*\.js) /combine.php?type=javascript&files=$1
