/*Common on most of styles in all pages*/

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
.container {
    margin-top: 70px;
}
/************************************************************************************************************/

/*.navbar-default .navbar-nav>li:hover
{
color: yellow;
}*/

/*.navbar-brand{
color:white;
}
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
*/

nav {
    height: 57px;
    background-image: url('../images/customer background image4.jpg')
}
#optionsNavbar.navbar-collapse:not(.collapse)+#right_ul {
    /*@start*/
    margin: 10px 0px 0px 0px;
    right: 0px;
    top: 0px;
    width: 50%;
}
#optionsNavbar.navbar-collapse.collapse.in+#right_ul, #optionsNavbar.navbar-collapse.collapsing+#right_ul {
    width: 87%;
}

.container-fluid, .navbar-header {
    padding-left: 10px;
}
#right_ul {
    margin: 10px 0px 0px 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 87%;
    padding-left: 0px;
    list-style: none;
}
#right_ul li {
    margin-left: 15px;
    float: left;
}
#right_ul li>a {
    color: #FFAD33;
    /*position: absolute;*/
    padding-top: 0px;
}
.row {
    margin: 0 !important;
}
#shoppingCart {
    margin-top: -5px;
    margin-right: 25px;
    cursor: pointer;
    overflow: visible;
    display: block;
    height: 50px;
    width: 50px;
}
#languagesDropdown {
    width: 28%;
    display: inline-block;
}
#myProfile {
    width: 100px;
    height: 70px;
    padding-bottom: 0px;
    width: 28%;
}
#left_ul li {
    height: 50px;
}
#left_ul>li>a {
    color: #5BC0DE;
    transition: 0.1s all;
}
#left_ul>li>a:hover {
    border-radius: 5px;
    background-color: #5BC0DE;
    color: white;
    /*transform: rotate(-10deg) scale(1.2);*/
}
.navbar-default.navbar-nav>li>a:active {
    color: yellow;
}
#header {
    text-align: center;
    margin-top: 70px;
    color: white;
    font-style: italic;
}
/*#notification:hover{
transform: rotate(15deg) scale(1.3);
}
*/
.left-to-right {
    border-width: 3px 0 3px 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 100% 0, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;  
    -o-border-image:
      -o-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to right, black, rgba(0, 0, 0, 0)) 1 100%; 
}

#shoppingCart_Button {
    transition: 0.3s;
}
#shoppingCart_Button:hover {
    transform: rotate(15deg);
    border: 10px solid #E9EA99;
    border-radius: 28px;
    padding: 0px;
}
#shoppingCartDetails {
    display: none;
    width: 320px;
    position: absolute;
    top: 58px;
    left: -50px;
    background: #E9EA99;
    border: solid 1px rgba(100, 100, 100, .20);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
    z-index: 1;
    text-align: center;
    border-radius: 10px;
    cursor: auto;
}
#OrderItemsHeader {
    background-color: #FFAD33;
    color: #0E2F3E;
    margin: 0;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}
#OrderContents {
    height: 300px;
    overflow: auto;
}
#orderTable {
    color: #891C86;
    font-weight: bold;
    /*display: block;*/
    border: 2px solid #5F5F5F;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}
#orderTable th {
    border: 1px solid #5F5F5F;
    border-collapse: collapse;
}
#orderTable tbody {
    border-collapse: collapse;
    border: 1px solid #5F5F5F;
    vertical-align: middle;
}
#orderTable tr td {
    color: orange;
    border-collapse: none!important;
    border: 1px solid #5F5F5F;
    vertical-align: middle;
}
#orderTable: hover {
    background-color: black;
}
.checkout {
    font-style: italic;
    background-color: #891C88;
    color: #FFFFFF;
}
.checkout:hover {
    background-color: #FFFFFF;
    color: #891C88;
    font-weight: bold;
}
div.dropdown-menu {
    text-align: center;
}
a.dropdown_item {
    float: left;
    margin: auto;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}
a.dropdown_item:hover {
    color: red;
    background-color: yellow;
}
.break {
    clear: both;
}
.dropdown-langs li{
    margin:10px;
}

.dropdown-langs li:hover a{
    background-color: orange;
    color:white;
}
.dropdown-langs li a{
display: inline;
margin-left:10px;
}