@charset "utf-8";

html {
    font-family:helvetica, arial, sans-serif;
}
.map-wrapper {
    display: none;
}

@media (max-width: 1366px) {
	#map {
        /* width: 700px; */
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* @media (max-width: 1250px) {
	.chats:nth-child(3) {
		display: none;
	}

	.wrapword {
		margin-left: -50px;
	}
}

@media (max-width: 920px) {
    #map {
        width: 600px;  
    }
} */

@media (max-width: 767px) {
    #map {
        padding-left: 300px;
        padding-right: 300px;  
    }
}

#map {
    color: #363535;
    text-transform: uppercase;
    height: 350px;
    margin:0 auto;
    margin-top:20px;
    padding: 5px;
    border: 1px solid black;
    background: #474747;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .3);
}